@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Tajawal:wght@400;500;800&display=swap");

:root {
  --main: rgb(243, 116, 141);
  --white: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html::-webkit-scrollbar-thumb {
  background: var(--main);
  border-radius: 5px;
}
html::-webkit-scrollbar {
  background-color: var(--white);
  width: 10px;
}

body {
  background-color: white;
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  font-size: 2rem;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-family: "Lobster", cursive;
  color: var(--main);
}

.container {
  max-width: 1000px;
  width: 80%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid none;
  border-radius: 25px;
  background-color: var(--main);
}

p {
  text-align: center;
}

.container .row {
  margin: 1rem;
  width: 80%;
}

.element-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 10px;
  margin-bottom: 1rem;
}
.element-wrapper > span {
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.element-wrapper > input {
  height: 2rem;
  width: 90%;
  color: var(--main);
  font-size: 2rem;
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  padding-left: 5px;
  border-radius: 5px;
  border: none;
}
.element-wrapper > input::-webkit-outer-spin-button,
.element-wrapper > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 768px) {
  .container {
    width: 70%;
  }
  body,
  .element-wrapper > input {
    font-size: 2rem;
  }
  h1 {
    font-size: 4rem;
  }
  input {
    font-size: 1rem;
  }
}
@media screen and (max-width: 425px) {
  .container {
    width: 90%;
  }
  body,
  .element-wrapper > input {
    font-size: 1.7rem;
  }
  h1 {
    font-size: 2.6rem;
  }
}
