@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Tajawal:wght@400;500;800&display=swap');

:root {
  --main: rgb(243, 116, 141);;
  --white: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Lobster", cursive;
  color: var(--main);
}

.container{
  max-width: 550px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid none;
  border-radius: 25px;
  background-color: var(--main);
}
p{
  text-align: center;
}
.container .row{
  margin: 1rem;
  width: 80%;
}
.element-wrapper{
  position: relative;
}
.element-wrapper > input {
  position: absolute;
  right: 0px;
}

@media screen and (max-width:768) {
  .container{
    width: 70%;
  }
}



